
# Core Azure ML SDK + identity
azure-ai-ml
azure-identity
python-dotenv

# Optional: if your script interacts directly with blob storage or metrics
azure-storage-blob

# Useful for local testing or debugging
pandas
numpy
scikit-learn
joblib
category-encoders
matplotlib
openpyxl
azureml-core
mltable
mlflow
setuptools
azureml-mlflow




